<template>
  <div>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <router-link to="/dashboard" class="navbar-brand col-sm-3 col-md-2 mr-0">
        Company name
      </router-link>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <router-link to="/" class="nav-link">
            Sign Out
          </router-link>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Pages</span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <router-link to="/dashboard" class="nav-link active">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  Dashboard <span class="sr-only">(current)</span>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/logs" class="nav-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                  Audits
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/register" class="nav-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  Create user
                </router-link>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div v-if="success" class="alert alert-success" role="alert">
            The value has been updated!
          </div>
          <div v-if="failed" class="alert alert-danger" role="alert">
            Failed
          </div>
          <h2>{{ msg }}</h2>
          <h5>( Click to edit rows value )</h5>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Email</th>
                  <th>Name</th>
                  <th>Mobile Number</th>
                  <th>Role</th>
                  <th>Department</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="user in users" :key="user.id">
                  <td class="pt-2">{{ user.id }}</td>
                  <td><input type="email" class="form-control form-control-sm" v-model="user.email"></td>
                  <td><input type="text" class="form-control form-control-sm" v-model="user.name"></td>
                  <td><input type="phone" class="form-control form-control-sm" v-model="user.mobileNumber"></td>
                  <td>
                    <select class="custom-select d-block w-100 form-control" id="role" required v-model="user.role">
                      <option value="">Choose...</option>
                      <option>admin</option>
                      <option>user</option>
                      <option>manager</option>
                    </select>
                  </td>
                  <td>
                    <select class="custom-select d-block w-100 form-control" id="department" required v-model="user.department">
                      <option value="">Choose...</option>
                      <option>general</option>
                      <option>dep1</option>
                      <option>dep2</option>
                      <option>dep3</option>
                    </select>
                  </td>
                  <!-- <td><input type="role" class="form-control form-control-sm" v-model="user.role"></td> -->
                  <!-- <td><input type="department" class="form-control form-control-sm" v-model="user.department"></td> -->
                  <td>
                    <a class="btn btn-sm btn-info text-sm text-white mr-1" href="#" @click.prevent="populateDataToEdit(user)">Save Row</a>
                    <a class="btn btn-sm btn-danger text-sm text-white" href="#" @click.prevent="deleteData(user.id)">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/api/user";

export default {
  name: "Dashboard",
  data() {
    return {
      msg: "Dashboard",
      loading: false,
      success: false,
      failed: false,
      users: [],
      model: {}
    };
  },
  async created() {
    this.refreshData();
  },
  methods: {
    async refreshData() {
      this.loading = true;
      this.users = await api.getAllData();
      this.loading = false;
    },
    async populateDataToEdit(user) {
      this.model = Object.assign({}, user);
      await this.saveData();
    },
    async saveData() {
      if (this.model.id) {
        await api.updateData(this.model.id, this.model)
          .then(() => {
            this.success = true;
            this.failed = false;
          })
          .catch(() => {
            this.success = false;
            this.failed = true;
          });
      } else {
        await api.createData(this.model)
          .then(() => {
            this.success = true;
            this.failed = false;
          })
          .catch(() => {
            this.success = false;
            this.failed = true;
          });
      }
      this.model = {};
      await this.refreshData();
    },
    async deleteData(id) {
      if (this.model.id === id) {
        this.model = {};
      }
      await api.deleteData(id);
      await this.refreshData();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
td input {display: block !important; padding: 0 !important; margin: 0 !important; border: 0 !important; width: 100% !important; border-radius: 0 !important; line-height: 1 !important;}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
