<template>
  <div class="container mb-5">
    <div class="row justify-content-md-center">
      <div class="col col-md-6">
        <div v-if="error" class="alert alert-danger" role="alert">
          Email or Password is not match!
        </div>
        <div class="card">
          <div class="card-body text-left">
            <h5 class="card-title">{{ msg }}</h5>
            <form @submit.prevent="login()">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" v-model="model.email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" v-model="model.password">
              </div>
              <div class="row">
                <div class="col col-md-3">
                  <button type="submit" class="btn btn-block btn-primary" v-bind:disabled="isButtonDisabled">
                    Sign In
                  </button>
                </div>
              </div>
            </form>
            <p class="lead"></p>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Example User and Pass</h4>
              </div>
              <div class="card-body">
                <h5><small class="text-muted">admin@gmail.com => secret</small></h5>
                <h5><small class="text-muted">manager@gmail.com => secret</small></h5>
                <h5><small class="text-muted">user@gmail.com => secret</small></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/api/auth";
import router from "@/router";

export default {
  name: "Login",
  data() {
    return {
      msg: "Login Now!",
      model: {},
      error: false,
      isButtonDisabled: false
    };
  },
  methods: {
    async login() {
      this.isButtonDisabled = true;
      this.error = false;
      await api
        .doLogin(this.model)
        .then(() => {
          router.push("/dashboard");
          this.model = {};
        })
        .catch(() => {
          localStorage.removeItem("user-token");
          this.error = true;
        });
      this.isButtonDisabled = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
