<template>
  <div class="container mb-5">
    <div class="row justify-content-md-center">
      <div class="col col-md-6">
        <div v-if="error" class="alert alert-danger" role="alert">
          Only admin can add new user !
        </div>
        <div class="card">
          <div class="card-body text-left">
            <h5 class="card-title">{{ msg }}</h5>
            <form @submit.prevent="saveData()">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" v-model="model.email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" v-model="model.password">
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" v-model="model.name">
              </div>
              <div class="form-group">
                <label for="phone">Mobile Number</label>
                <input type="number" class="form-control" id="phone" placeholder="Mobile Number" v-model="model.mobileNumber">
              </div>
              <div class="form-group">
                <label for="department">Department</label>
                <select class="custom-select d-block w-100 form-control" id="department" required v-model="model.department">
                  <option value="">Choose...</option>
                  <option>dep1</option>
                  <option>dep2</option>
                  <option>dep3</option>
                </select>
              </div>
              <div class="row">
                <div class="col col-md-4">
                  <button type="button" @click="saveData()" class="btn btn-block btn-primary">
                    Create User
                  </button>
                </div>
                <div class="col col-md-5 p-2">
                  <router-link to="/" class="text-primary">
                    Have an account?
                  </router-link>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/api/user";
import router from "@/router";

export default {
  name: "Register",
  data() {
    return {
      msg: "Create Your Account Now!",
      model: {}
    };
  },
  methods: {
    async saveData() {
      if (this.model.id) {
        await api.updateData(this.model.id, this.model);
      } else {
        await api.createData(this.model)
          .catch(() => {
            localStorage.removeItem("user-token");
            this.error = true;
          });
      }
      this.model = {};
      router.push("/");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
